---
---
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <link rel="stylesheet" href="https://guide.pdis.run/assets/main.css">
  <meta charset="UTF-8">
  <meta name="description" content="公部門網站 Lighthouse 評測結果。">
  <meta name="robots" content="noindex">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    iframe { resize: vertical; min-height: 50vh; }
  </style>
  <title>Lighthouse reports</title>
</head>
<body class="lh-copy">
  <header class="measure-wide center tc pa4">
    <h1 class="f4 mb3">Lighthouse 結果報告</h1>
  </header>
  <main class="center mw8 w-100 ph4 overflow-hidden">
    <div class="overflow-auto">
    <table class="ba w-100 tl br2 mb4 lh-solid" cellspacing="0">
      <thead>
        <th class="pa3 nowrap">網址</th>
        <th class="pa3 nowrap">詳細報告</th>
        <th class="pa3 nowrap">網站性能</th>
        <th class="pa3 nowrap">親和力</th>
        <!-- <th class="pa3 nowrap">包含不安全的程式</th> -->
        <th class="pa3 nowrap">測試時間</th>
      </thead>
    {% for report in site.static_files %}
    {% unless report.path contains "reports/"%}{% continue %}{% endunless %}
      {% assign name = report.name | replace: '.html', '' %}
      {% assign data = site.data[name] %}
        <tr class="{% cycle "bg-subtle", "" %}">
          <td class="pa3"><a href="{{ site.data[name]["finalUrl"] }}">{{ data["finalUrl"] }}</a></td>
          <td class="pa3"><a target="report" href="./{{ report.path }}#lh-log">詳細報告</a></td>
          <td class="pa3">{{ data["categories"]["performance"]["score"] | times: 100 | round }}</td>
          <td class="pa3">{{ data["categories"]["accessibility"]["score"] | times: 100 | round }}</td>
          <!-- <td class="pa3">{% if data["audits"]["no-vulnerable-libraries"]["score"] == 0 %}<mark>有</mark>{% else %}無{% endif %}</td> -->
          <td class="pa3">{{ data["fetchTime"] | date: "%Y-%m-%d %H:%M" }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <div class="ba br2 w-100 border-box bg-subtle mv3 lh-solid overflow-hidden">
      <iframe name="report" aria-label="Lighthouse 詳細報告" title="Lighthouse 詳細報告" class="bn w-100 border-box bw4 b--white"></iframe>
    </div>
  </main>
  <footer class="footer f6 mt4 pa4 flex items-center gap4">
    <div class="mw5">
      <a class="db color-inherit mb2" href="https://hex.pdis.tw">Hex, PDIS 行政院公共數位創新空間</a>
    </div>
  </footer>
</body>
</html>