---
---
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <link rel="stylesheet" href="https://guide.pdis.run/assets/main.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    iframe { resize: vertical; min-height: 50vh; }
  </style>
  <title>Lighthouse reports</title>
</head>
<body class="lh-copy pa3">
  <header class="measure-wide center tc">
    <h1 class="f4 mb3">Lighthouse 結果報告</h1>
  </header>
  <main class="center mw8">
    <table class="ba w-100 collapse tl">
      <thead>
        <th class="pa2">網址</th>
        <th class="pa2">網站性能</th>
        <th class="pa2">親和力</th>
        <th class="pa2">包含不安全的程式</th>
        <th class="pa2">詳細報告</th>
      </thead>
    {% for report in site.static_files %}
    {% unless report.path contains "reports/"%}{% continue %}{% endunless %}
      {% assign name = report.name | replace: '.html', '' %}
      {% assign data = site.data[name] %}
        <tr class="striped--near-white">
          <td class="pa2"><a href="{{ site.data[name]["finalUrl"] }}">{{ data["finalUrl"] }}</a></td>
          <td class="pa2">{{ data["categories"]["performance"]["score"] | times: 100 | round }}</td>
          <td class="pa2">{{ data["categories"]["accessibility"]["score"] | times: 100 | round }}</td>
          <td class="pa2">{% if data["audits"]["no-vulnerable-libraries"]["score"] == 0 %}有{% else %}無{% endif %}</td>
          <td class="pa2"><a target="report" href="{{ report.path }}#lh-log">詳細報告</a></td>
        </tr>
    {% endfor %}
    </table>
    <iframe name="report" aria-label="Lighthouse 詳細報告" title="Lighthouse 詳細報告" class="ba b--light-gray w-100 border-box pa3 mv3"></iframe>
  </main>
</body>
</html>